@tailwind base;
@tailwind components;
@tailwind utilities;

#dark-toggle:checked ~ .dot {
  transform: translateX(200%);
}
#dark-toggle:checked ~ .dot::before {
  content: "";
  width: 3px;
  height: 3px;
  color: black;
  border-radius: 50%;
}
